<h1>Listing gifts</h1>

<table>
  <thead>
    <tr>
      <th>国王</th>
      <th style='width: 400px'>愿望</th>
      <th>天使</th>
      <th></th>
      <th>对天使说的话</th>
      <th></th>
      <th>编辑</th>
    </tr>
  </thead>

  <tbody>
    <% @gifts.each do |gift| %>
      <tr>
        <td><%= link_to gift.name, gift %></td>
        <td><%= gift.giving %></td>
        <td><%= gift.who %></td>
        <td style='width: 20px'></td>
        <td style='width: 200px'><%= gift.talk %></td>
        <td style='width: 20px'></td>
        <td><%= link_to 'Edit', edit_gift_path(gift) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gift', new_gift_path %>
