<p id="notice"><%= notice %></p>

<p>
  <strong>国王:</strong>
  <%= @gift.name %>
</p>

<p>
  <strong>国王的愿望:</strong><br>
  <%= markdown(@gift.giving) %>
</p>
<p>
  <strong>对天使说的话:</strong><br>
  <%= markdown(@gift.talk) %>
</p>


<p>
  <strong>天使:</strong>
  <%= @gift.who %>
</p>


<%= link_to '返回', gifts_path %>